@import url("utility.css");

body{
   background-color: black;
   color: white;
   font-family: sans-serif;
   height: 100%;
}

.main{
   height: 100%;
   max-width: 1000px;
   /* border: 1px solid #fff; */
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.game{
   max-width: 400px;
   min-height: 850px;
   /* border: 1px solid #fff; */
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.game h1{
   /* margin: 40px 0 0 0; */
   text-align: center;
   font-size: 3rem;
}

/* Dive */
.dice{
   box-shadow: 0 0 150px rgba(255,255,255,0.5);
   border-radius: 20px;
   width: 200px;
   aspect-ratio: 1;
   /* outline: 1px solid #fff; */
   outline-offset: -10px;
   position: relative
}

.dice i{
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   font-size: 6rem;
   font-style: normal;
   font-weight: 700;
   opacity: 0.7;
   transition-delay: 0.5s;
   transition: 0.5s all ease;
}
.shown{
   opacity: 1 !important;
}

.dice > div {
   position: absolute;
   height: 35px;
   aspect-ratio: 1;
   border-radius: 50%;
   background-color: #fff;
   opacity: 0;
   transition: 0.5s all ease;
}


/* 1-5 */
.dice > div:nth-child(1){
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.dice > div:nth-child(2){
   bottom:25px;
   left: 25px;
}

.dice > div:nth-child(3){
   top:25px;
   right: 25px;
}

.dice > div:nth-child(4){
   bottom:25px;
   right: 25px;
}

.dice > div:nth-child(5){
   top:25px;
   left: 25px;
}

/* 6 */
.dice > div:nth-child(6){
   top:50%;
   left: 25px;
   transform: translate(0,-50%);
}

.dice > div:nth-child(7){
   top:50%;
   right: 25px;
   transform: translate(0,-50%);
}







.roll{
   background-color: #fff;
   color: black;
   padding: 8px 40px;
   font-size: 2rem;
   border-radius: 0.8rem;
   cursor: pointer;
}

.roll:hover{
   background-color: rgba(255,255,255,0.85);
}

.roll:active{
   background-color: rgba(255,255,255,0.7);
}