html {
   box-sizing: border-box;
}

html,
body,
.wrapper,
.main {
   height: 100%;
   font-family: sans-serif;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   padding: 0;
   margin: 0;
}

body{
   background-color: aqua;
}

.cards-wrapper {
   display: flex;
   padding: 40px 80px;
   gap: 40px;
}

.card {
   background-color: white;
   border-radius: 12px;
   padding: 15px;
   box-shadow: 4px 0 16px rgba(0, 0, 0, .15);
   cursor: pointer;
}

.card p {
   margin: 10px 0 0 0;
   line-height: 2.2ch;
   height: 6.6ch;
   overflow: hidden;
   position: relative;
   /* border: 1px solid #000; */
   font-size: 1.2em;
}

.card p::after{
   content: "...";
   font-size: 1em;
   line-height: 2.2ch;
   position: absolute;
   top: 4.4ch;
   right: 1ch;
}

.hidden{
   display: none !important;
}

.module-window{
   position: fixed;
   max-width: 60ch;
   background-color: white;
   border-radius: 12px;
   box-shadow: 4px 0 16px rgba(0, 0, 0, .15);
   padding: 15px;
   position: relative;

   z-index: 2;
}

.module{
   height: 100vh;
   width: 100%;
   position: fixed;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.overlay{
   height: 100vh;
   width: 100%;
   position: fixed;
   top: 0;
   background-color: rgba(0, 0, 0, .2);
   backdrop-filter: blur(5px);

   z-index: 1;
}

.close-module{
   position: absolute;
   right: 5px;
   top: 5px;
   border-radius: 7px;
   padding: 2px 4px;
   cursor: pointer;
}